* {margin:0; padding:0; box-sizing:border-box; line-height:1.2; color:#fff;}
html, body { position: relative; width: 100%; background:#000;}
ol, ul {list-style:none;}
a {display:block; text-decoration: none; color:inherit;}
button {cursor:pointer;}

.slide {
    width:100%;
    max-width:720px;
    margin:10vh auto;
}
.slide .slick-slide {
    height:300px;
}
.slide .slick-slide.blue {background:cornflowerblue;}
.slide .slick-slide.yellow {background:yellowgreen;}
.slide .slick-slide.coral {background:coral;}

.slick-list {position:relative; overflow:hidden;}
.slick-arrow {
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index:999;
    font-size:0;
    width:40px;
    height:40px;
    border-radius:50%;
    background:none;
    border:1px solid #fff;
}
.slick-prev {left:-60px;}
.slick-next {right:-60px;}
.slick-prev::before {content:'<';}
.slick-next::before {content:'>';}
.slick-prev::before, .slick-next::before {font-size:3vw; font-weight:bold; line-height:39px;}
.slick-arrow:hover {background:#fff; color:#000;}