* {margin:0; padding:0; box-sizing:border-box; letter-spacing:-0.05em;}
html, body {width:100%; }
body {}
body.non-scroll {overflow-y:hidden;}
ol, ul {list-style:none;}
a {color:inherit; text-decoration: none;}

#container {
    height:80vh;
    display: flex;
    position:relative;
}
.slide-wrap {
    width:33.3333%;
    height:100%;
    overflow: hidden;
    background:#5894DE;
    box-shadow:invert 1px 1px 1px rgba(0, 0, 0, 0.5) inset;
}
.slide { 
    text-align: center;
    width:100%;
    animation: loop 10s linear infinite;
    display: flex;
    flex-direction: column;
}
@keyframes loop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
/*bubble*/
.bubble {position:relative; display: inline-block; margin:30px; height:fit-content;}
.slide-wrap-1 .bubble {margin:60px 30px;}
.slide-wrap-2 .bubble {margin:110px 30px;}
.slide-wrap-3 .bubble {margin:90px 30px;}
.bubble::before,
.bubble::after {
    content:'';
    width:55%;
    max-width:300px;
    height:25px;
    position:absolute;
    bottom:-10px;
}
.bubble.left {margin-right:auto;}
.bubble.right {margin-left:auto;}
.bubble::before {
    background:#fff;
    z-index:-1;
}
.bubble:not(.center)::after {
    background:#5894de;
    z-index:0;
}

.bubble.left::before {
    left:0;
    border-radius:0 0 50% 0;
}
.bubble.left::after {
    left:-10%;
    border-radius:0 0 999px 0;
    height:29px;
    bottom:-12px;
}

.bubble.center::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 25px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.bubble.right::before {
    right:0;
    border-radius:0 0 0 50%;
}
.bubble.right::after {
    right:-10%;
    border-radius:0 0 0 999px;
}

.bubble p {
    display:inline-block;
    padding:10px 30px;
    background:#fff;
    border-radius:400px;
    font-size:20px;
    font-weight:bold;
    color:#444;
    position:relative;
    z-index:2;
    text-align:center;
}
.bubble p::before {
    content:'\201C';
    left:-20px;
    top:-20px;
}
.bubble p::after {
    content:'\201D';
    right:-20px;
    bottom:-30px;
}
.bubble p::before,
.bubble p::after {
    color:#fff;
    position:absolute;
    font-size:40px;
}

.main_txt {position:absolute; width:500px; height:300px; background:rgba(255, 255, 255, 0.3); left:50%; top:50%; transform:translate(-50%, -50%); text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; padding:0 50px;}
.main_txt p {font-size:22px;}
.main_txt > div {width:100%; border:3px solid #fff; padding:20px 10px; margin:10px 0; text-transform: uppercase;}


@media screen and (max-width:768px) {
    .slide-wrap-3 {display: none;}
    .slide-wrap {width:50%;}
}

@media screen and (max-width:375px) {
    .slide-wrap-2 {display: none;}
    .slide-wrap {width:100%;}
}