* {margin:0; padding:0; box-sizing: border-box;}
html, body {width:100%;}
html {background:#000;}

main {
    width:100%;
    height: 100vh; 
    background:#fff;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
main h1 {
    text-align: center;
    position:relative;
    z-index:1;
    font-size:6vw;
    text-shadow: -1px 0 #fff,
                  0 1px #fff,
                  1px 0 #fff,
                  0 -1px #fff;
    padding-bottom:10vw;
}
main .gradation {
    width:100%;
    height:50vh;
    position:absolute;
    bottom:0;
    background: linear-gradient(#fff, #000);
}
.marquee {
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    position: relative;
    overflow-x: hidden;
    padding-top:20px;
}
.marquee-wrap {
    white-space: nowrap; 
    font-size: 20px; 
    display: flex; 
    align-items: center;
    will-change: transform;
    width: 100%;
    margin:5px 0;
}
.marquee-box {
    will-change: transform; 
    animation: marqueeLeft 30s linear infinite;
    font-family: '넥슨Lv1고딕'; 
    font-weight: 700;
}
.marquee2 .marquee-box {
    animation: marqueeRight 30s linear infinite;
}
/* .box1 {background: rgb(254, 255, 218);}
.box2 {background: rgb(221, 255, 228);} */
.marquee-text {
    margin: 0;
    padding: 0; 
}
.marquee-text span {
    display: inline-block; 
    padding:10px 30px; 
    background:beige;
    border-radius:555px; 
    margin:0 5px;
    position:relative;
}
.marquee-text span::before {
    content:attr(data-icon);
    position:absolute;
    right:-10px;
    top:-20px;
    font-size:30px;
}

@keyframes marqueeLeft {
    from { transform: translateX(0) }
    to { transform: translateX(-100%) }
}
@keyframes marqueeRight {
    from { transform: translateX(-100%) }
    to { transform: translateX(0) }
}